.CarouselImg{

padding: 0px;


object-fit: fill;
border:none

 }
 @media screen and (max-width: 680px) {
    .carouselwhidth{ 
        width:100%;
    }
    }
.carouselwhidth{
     overflow-x: hidden;
}